<style>
    select {
    margin-left: 20px
    }
</style>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Category's</label>
  </div>

  <select class="custom-select" id="inputGroupSelect01">
   <a href="/games/"> <option value="1">  Games </option> </a>
   <a href="/news/"> <option value="2">  News  </option> </a>
   <a href="/players/"> <option value="3">  Players </option> </a>
  </select>
    <p class="lead text-muted" style="margin-left: 20px; margin-right:20px;"> or </p>
<form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
</form>
</div>
